@mixin h2-typography{
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
}

@mixin big-btn-typography{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

@mixin link-typography{
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}