@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');
$font: 'Quicksand';

$white: #fff;
$green: #029456;
$btn-green: #01321E;
$btn-hover-green: #021f13;
$nav-green: rgba(2, 148, 86, 0.75);
$error-validation: rgb(206, 11, 11);