.baner-container{
  position: absolute;
  height: 247px;
  left: 128px;
  right: 128px;
  top: 235px;
  background-color: rgba(2, 148, 86, 0.8);
  display: flex;
  justify-content: center;
  align-items: self-end;
  padding-bottom: 31px;
}