.baner-container{
  position: absolute;
  height: 247px;
  left: 128px;
  right: 128px;
  top: 235px;
  background-color: rgba(2, 148, 86, 0.8);
  display: flex;
  justify-content: center;
  align-items:last baseline;
  padding-bottom: 31px;
}

.input{
  background: #E5E5E5;
  height: 51px;
  border: none;

}

.unidade-input{
  width: 245.23px;
  
  top: 400px;
  margin-right: 15.77px;
  
}

.nome-input{
  height: 51px;
  width: 688.59px;
}
