.baner-container{
  position: absolute;
  height: 247px;
  left: 128px;
  right: 128px;
  top: 235px;
  background-color: rgba(2, 148, 86, 0.8);
  display: flex;
  justify-content: center;
  align-items:last baseline;
  padding-bottom: 31px;
}

.nome-input{
  height: 51px;
  width: 688.59px;
  background: #E5E5E5;
  height: 51px;
  border: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding-left: 10px;
  
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #6D6D6D;
}