@use './mixins';
@import './variables';

.login-btn {
    border-radius: 8px;
    background-color: $btn-green;
    width: 357px;
    height: 52px;
    right: 92px;
    color: $white;
    border: none;
    
    @include mixins.big-btn-typography;

    margin-bottom: 10px;
    margin-top: 60px;
}

.login-btn:hover{
    background-color: $btn-hover-green;
    cursor: pointer;
}
.social-button-container{
    position: absolute;
    right: 48px;
}
.social-button{
    background-color: $green;
    border-radius: 8px;
    color: $white;
    width: 171px;
    height: 51px;
    border: none;
    margin-top: 40px;
}

.social-button:hover{
    background-color: $btn-green;
    cursor: pointer;
}

.add{
    margin-right: 32px;
}

.modal-btn{
    height: 52px;
    font-family: $font;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    border: none;
    border-radius: 8px;
    margin-top: 48px;
    cursor: pointer;
}
.close{
    width: 147px;
    color: #2C2929;
    background: #999999;
    font-weight: 500;
    margin-right: 21px;
}

.add-user{
    width: 201px;
    background: #029456;
    font-weight: 700;
    margin-right: 20px;
    color: white;
}

.save-user{
    background: #01321E;
    width: 221px;
    color: white;
    font-weight: 500;
}

.invite-user-btn{
    width: 253.74px;
    height: 51px;
    margin-top: 64px;
    background: #01321E;
    color: white;
    border-radius: 8px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    border: none;
    z-index: 1;
}