@import './variables';
.dropdown-menu {
  width: auto;
  position: absolute;
  right: 1rem;
  top: 69px;
  list-style: none;
  text-align: start;
  z-index: 999;
}
  
.dropdown-menu li {
  background: #000;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background: #333;
}

.drop-menu {
  display: none;
}

.menu-items {
  display: grid;
  text-decoration: none;
  color: $white;
  padding: 15px;
}

.drop-link{
  text-decoration: none;
  color: #2C2929;
}