@import "./variables";

.form-group{
    display:grid;

}

.login-input{
    background: transparent;
    border: none;
    border-bottom: 1px solid $white;
    right: 92px;
    width: 357px;
    margin-top: 60px;
    color: $white;
}


.login-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $white;
    opacity: 0.5; /* Firefox */
}


.error{
    color: $error-validation;
}

.user-info{
    box-sizing: border-box;
    margin-bottom: 16px;
    background-color: #FFFFFF;
    border: 1px solid #999999;
    border-radius: 8px;
    height: 52px;
    padding-left: 16px;
}

.user-info::placeholder{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #999999;
}

.name{
    width: 610px;
}

.unidade{
    width: 178px;
    margin-right: 16px;
}

.ramal{
    width: 85px;
    margin-right: 16px;
}

.email{
    width: 315px;
}

.tel{
    width: 279px;
}

.invite-email{
    box-sizing: border-box;
    width: 250.57px;
    height: 51px;
    margin-top: 32px;
    background: #FFFFFF;
    border: 1px solid rgba(153, 153, 153, 0.5);
    padding-left: 16px;
    border-radius: 4px;
}

.invite-email::placeholder{
    color: #999999;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.error-input{
  border: 2px solid #ff2b2b;
}
