@import "./variables";

.form-group{
    display:grid;
    
}

.login-input{
    background: transparent;
    border: none;
    border-bottom: 1px solid $white;
    right: 92px;
    width: 357px;
    margin-top: 60px;
    color: $white;  
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $white;
    opacity: 0.5; /* Firefox */
}


.error{
    color: $error-validation; 
}