@import "./variables";

.form-group{
    display:grid;
    
}

.login-input{
    background: transparent;
    border: none;
    border-bottom: 1px solid $white;
    right: 92px;
    width: 357px;
    margin-top: 60px;
    color: $white;  
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $white;
    opacity: 0.5; /* Firefox */
}


.error{
    color: $error-validation; 
}

.user-info{
    box-sizing: border-box;
    margin-bottom: 16px;
    background-color: #FFFFFF;
    border: 1px solid #999999;
    border-radius: 8px;
    height: 52px;
}

.name{
    width: 610px;
}
.unidade{
    width: 178px;
    margin-right: 16px;
}

.ramal{
    width: 85px;
    margin-right: 16px;
}

.email{
    width: 315px;
}

.tel{
    width: 279px;
}

.invite-email{
    box-sizing: border-box;
    width: 250.57px;
    height: 51px;
    margin-top: 32px;
    background: #FFFFFF;
    border: 1px solid rgba(153, 153, 153, 0.5);
    border-radius: 4px;
}