.nome-input{
    height: 51px;
    width: 688.59px;
    background: #E5E5E5;
    height: 51px;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    padding-left: 10px;
    margin-bottom: 31px;
    
  }
  .nome-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #6D6D6D;
  }
  
  .search-icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 53.5px;
    width: 49px;
    background-color: #01321E;
    cursor: pointer;
    margin-bottom: 31px;
  }
  
  .search-icon-container:hover{
    background-color: #002415;
  }
  
  
  .search-icon{
    width: 25.72px;
    height: 27px;
    color: white;
  }