@import "./variables";
.modal-background {
    width: 100vw;
    height: 100vh;
    background-color: rgba(200, 200, 200);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modal-container {
    width: 865px;
    height: 352px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    align-items: center;
}

.body{
    display: flex;
}

.add-pic{
    margin-right: 43px;
}

.add-user-icon{
    width: 148px;
    height: 148px;
    color: white;
    background-color: #999999;
    border-radius: 50%;
}

.add-user-icon:hover{
    background-color: #727272;
    color: #fff;
    cursor: pointer;
}

.footer{
    display: flex;
    margin-left: 190px;
}

.invite-modal-container{
    width: 315px;
    height: 523px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background: #FFFFFF;
    border-radius: 4px;
}

.invite-icon-container{
    display: flex;
    justify-content: center;
    margin-bottom: 32.18px;
}

.invite-icon{
    width: 117px;
    height: 137.82px;
    color: $green;
}

.invite-modal-title{
    width: 315px;
    height: 26px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    color: #01321E;
}

.invite-modal-text{
    width: 315px;
    height: 31px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #6D6D6D;
    margin-top: 16px;
}

.invite-email-container{
    justify-content: center;
    display: flex;
}

.footer-invite{
    justify-content: center;
    display: flex;
}

.invite-erro{
    display: flex;
    justify-content: center;
}