@import './variables';

.nav-bar{
    overflow: hidden;
    background-color: $nav-green;
    height: 80px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-logo{
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
}

.profile-icon{
    width: 30px;
    height: 28px;
}
.arrow-icon{
    font-size: 1.2em;
}