.select{
    margin-right: 15.77px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding-right: 18px;
    padding-left: 16.57px;
    margin-bottom: 31px;
}

.select-btn{
    background: #E5E5E5;
    color: #6D6D6D;
    height: 51px;
    width: 245px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}


