@import "./variables";
.user-card-container{
    box-sizing: border-box;
    width: 100%;
    height: 147px;
    margin-bottom: 32px ;
    background: #FFFFFF;
    border: 1px solid #999999;
    box-shadow: 0px 4px 4px rgba(1, 50, 30, 0.25);
    border-radius: 8px;
    display: flex;
    padding: 16px 8px 0px 16px;

    position: relative;
    left: 320%;
    animation: rigthToLeft 0.5s ease-in;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: var(--delay);
}

.user-card-body{
    margin-left: 16px;
    margin-right: 16px;
    width: 100%;
}

.user-image-icon{
    width: 64px;
    height: 60px;
}

.card-head{
    display: flex;
    justify-content: space-between;
}

.user-name{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}

.interactive-icon{
    margin-right: 8.38px;
    cursor: pointer;
    color: $btn-green;
}


.card-content{
    margin-top: 4px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}

.user-unidade{
    line-height: 14px;
    color: #07020D;
    opacity: 0.4;
}

.user-ramal{
    margin-top: 8px;
    color: #029456;
}

.user-tel{
    margin-top: 8px;
    color: #07020D;
    opacity: 0.4;
}

.user-email{
    line-height: 18px;
    color: #07020D;
    margin-top: 8px;
    opacity: 0.4;
}

@keyframes rigthToLeft {
    0%{
        left: 320%;
    }

    100%{
        left: 0%;
    }
}