.admin-title-container{
  display: flex;
  flex-direction: column;
  margin-left: 64px;
  margin-top: 32px;
  flex-shrink: 0;
}

.admin-title{
  color: #6D6D6D;
  font-size: 28px;
  font-family: 'Quicksand', sans-serif;
}

.input-admin-container{
  display: flex;
  margin: 32px 0px 40px 64px;
}

.table-container{
  margin-left: 64px;
}