$withe: #fff;

.login-form {
    position: absolute;
    width: 546px;
    right: 0px;
    top: 0%;
    bottom: 0%;
    background: #029456;
    color: $withe;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    position: absolute;
    width: 546px;
    height: 35px;
    right: 0px;
    top: 135px;

    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    /* identical to box height */

    text-align: center;
}

input{
    background: transparent;
    border: none;
    border-bottom: 1px solid $withe;
    right: 92px;
    width: 357px;
    margin-bottom: 60px;
    
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $withe;
    opacity: 0.5; /* Firefox */
}

button {
    border-radius: 8px;
    background-color: #01321E;
    width: 357px;
    height: 52px;
    right: 92px;
    color: $withe;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
}

button:hover{
    background-color: #021f13;
    cursor: pointer;
}

.link-login{
    position: absolute;
    width: 546px;
    height: 15px;
    right: 0px;
    top: calc(54% - 15px/2 + 94.5px);
    color: $withe;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}