@use '../../styles/mixins';
@import '../../styles/variables';

.login-form {
    position: absolute;
    width: 546px;
    right: 0px;
    top: 0%;
    bottom: 0%;
    background: $green;
    color: $withe;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-title {
    position: absolute;
    width: 546px;
    height: 35px;
    right: 0px;
    top: 135px;

    @include mixins.h2-typography;

    text-align: center;
}

.login-input{
    background: transparent;
    border: none;
    border-bottom: 1px solid $withe;
    right: 92px;
    width: 357px;
    margin-bottom: 60px;
    color: $withe;  
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $withe;
    opacity: 0.5; /* Firefox */
}

.login-btn {
    border-radius: 8px;
    background-color: $btn-green;
    width: 357px;
    height: 52px;
    right: 92px;
    color: $withe;
    border: none;
    
    @include mixins.big-btn-typography;

    margin-bottom: 10px;
}

.login-btn:hover{
    background-color: $btn-hover-green;
    cursor: pointer;
}

.link-login{
    position: absolute;
    width: 546px;
    height: 15px;
    right: 0px;
    top: calc(54% - 15px/2 + 94.5px);
    color: $withe;
    @include mixins.link-typography;
}