@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');
$font: 'Quicksand';

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: $font;
}
