@use '../../styles/mixins';
@import '../../styles/variables';

.home-page-title{
    margin: 5rem 0 2rem 0;
}
.baner-section{
    margin: 64px 128px 32px 128px;
}
.cards-section{
    margin: 0 128px 0 128px;
    background-color: aqua;
    display: flex;
}